{% extends 'base.html.twig' %}

{% block title %}Nos Annonces{% endblock %}

{% block body %}
    <div class="container full">
        <div class="row">
            {% for ad in pagination.data %}
               {% include 'ad/_ad.html.twig' %}
            {% endfor %}
        </div>
        {{pagination.display()}}
    </div>
{% endblock %}
